@import 'tailwindcss/components';

@layer components {
  .carousel {
    @apply w-[90%] max-w-[350px] mx-auto cursor-pointer md:max-w-none;
    &_item {
      @apply relative bg-secondary/40;
    }
    &_image {
      @apply 
      w-full
      h-[185px]
      md:h-[25vw]
      object-cover
      flex
      justify-center
      items-center
      relative
      after:content-['']
      after:absolute
      after:block
      after:top-0
      after:left-0
      after:w-full
      after:h-full
      after:bg-no-repeat
      after:bg-cover
      after:bg-center
      after:bg-[url('/src/assets/images/image.png')];
    }
    .slider-wrapper {
      @apply rounded-2xl md:rounded-3xl;
    }
    .control-dots {
      @apply !pr-4 md:!pr-8 md:!mb-7 flex items-center justify-end;
      .dot {
        @apply !mx-[3px] !opacity-100 !bg-[#C4C4C4] md:!mx-[6px] md:!w-4 md:!h-4;
        &.selected {
          @apply !bg-white !w-[10px] !h-[10px] md:!w-5 md:!h-5;
        }
      }
    }
  }
}