@import 'tailwindcss/components';

@layer components {
  .exhibit {
    @apply
    flex
    overflow-x-auto
    w-full
    gap-4
    my-4
    h-[240px]
    cursor-pointer
    md:gap-[30px]
    md:h-[280px]
    md:grid
    md:grid-cols-4;
    .picture {
      @apply w-[220px] h-[160px] rounded-[20px] bg-secondary/40 md:w-full md:h-[200px];
    }
    .name {
      @apply text-lg font-bold mt-[6px] ellipsis max-w-[220px] md:text-[22px] md:mt-3 md:max-w-full;
    }
    .city {
      @apply flex gap-1 items-center text-[#646464] md:mt-1;
    }
  }
}