@import 'tailwindcss/components';
@import '@/style/common/ellipsis.css';

@layer components {
  .index {
    &_activity {
      @apply
      flex
      my-4
      items-center
      w-full
      cursor-pointer
      md:bg-[#F9F9F9]
      md:rounded-xl
      md:mb-0
      md:border-[1px]
      md:border-[#E5E5E5]
      md:gap-3;
      .picture {
        @apply
        max-w-[90px]
        w-[90px]
        h-[62px]
        rounded-lg
        md:max-w-[160px]
        md:min-w-[160px]
        md:h-[160px]
        md:rounded-l-xl
        md:rounded-r-none;
      }
    }
  }
}